# This is the environment file for the `spaceborne` conda environment

name: spaceborne
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.13.*
  - pip
  - numpy
  - scipy
  - matplotlib
  - healpy

  # PyCCL depenedencies - mandatory
  - swig
  - cmake
  - pyccl>=3.2.1

  # pymaster dependencies - optional
  - cfitsio
  - fftw
  - namaster

  - pip:
    - jax
    - euclidlib>=2025.2 # optional dependency, only used to read the n(z) and C(l) 
                        # in the official Euclid LE3 format
    - heracles>=25.1  # optional dependency, only used to save the covariance
                      # in the official Euclid LE3 format
    - pyyaml
    - joblib
    - tqdm
    - pyfiglet  # for the ASCII art - optional

# COSEBIs covariance needs cloelib as an additional dependency, which in turn uses pylevin.
# please refer to each package's documentation for detailed and up-to-date installation
# instructions; nonetheless, to install pylevin within this environment, you can do
# conda install -c conda-forge boost
# conda install -c conda-forge gsl
# pip install pylevin
